@tailwind base;
@tailwind components;
@tailwind utilities;



body {
    background-image: url('../public/depositphotos_308814774-stock-photo-sunset-forest-blue-sky-clouds.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
}
