@tailwind base;
@tailwind components;
@tailwind utilities;



body {
    background-image: url('../public/1385648.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
}
